<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/flexslider.min.css" type="text/css"/>
<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/placeholder.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.cnuaction.js"></script>
<script type="text/javascript" src="js/baiduTemplate.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<link rel="stylesheet" href="css/alumnus.css" type="text/css" />

<title>首都师范大学校友会</title>

</head>

<body>

<div class="wrap">
  <div class="logo-wrap">
    	<img id="logo" src="images/logo.gif" alt="首师大Logo" title="首都师范大学" />
    </div>
    
    
    <div class="nav-wrap base-clear">
    	<ul class="nav">
        	<li class="active"><a href="./alumnus.html">校友信息</a></li>
        	<li><a href="./dynamic.html">母校信息</a></li>
        	<li><a href="personal.html">个人信息</a></li>
        	<li id="sid_admin"><a href="./administration.html">管理</a></li>
        	<li><a href="./setup.html">系统设置</a></li>
        </ul>
        <div class="search-box">
        	<input class="search-text" placeholder="找同学" type="text" />
            <input class="search-btn" type="button"/>
        </div>
    </div>
    
    
    <div class="big-banner">
    	<div id="b_item" class="b-item">
        </div>
    </div>
    
    <div class="menu-wrap">
    	<ul class="base-clear">
        	<li class="active" id="li-news-1" data-id="1">
            	<a href="javascript:">
                	<h3>校友动态</h3>
                    <p>校友动态校友动态</p>
                </a>
            </li>
        	<li id="li-news-2" data-id="2">
            	<a href="javascript:" data-id="2">
                	<h3>通知公告</h3>
                    <p>校友动态校友动态</p>
                </a>
            </li>
        	<li id="lk">
            	<a href="javascript:;">
                	<h3>校友龙卡</h3>
                    <p>校友动态校友动态</p>
                </a>
            </li>
        	<li>
            	<a href="http://e.weibo.com/cnuxyh" target="_blank">
                	<h3>官方微博</h3>
                    <p>校友动态校友动态</p>
                </a>
            </li>
        </ul>
    </div>
    
    
    <div class="news-wrap">
    	<h3 class="title">校友动态</h3>

        <div class="news-list" id="d-news-list">

        </div>
    </div>
    
</div>

<div class="footer">
<p>
    备案号：京公网安备:110402430068号<br>
    校友会地址：北京市海淀区西三环北路105号首都师范大学学校办公室校友会 邮编：100048   邮箱：cnuxyh@126.com<br>
    联系方式：电话：86-10-68902418、86-10-68902611  传真：86-10-68902418<br>
</p>
</div>

<div id="lk_warp">
    <div class="lk base-clear">
        <div class="lkl">
            <img src="images/lk.jpg" />
        </div>
        <div class="lkr">
            <h4>首都师范大学校友龙卡</h4>
            <p>
    　　首都师范大学校友会、教育基金会联合中国建设银行共同打造的首都师范大学人专属的信用卡——"首都师范大学校友龙卡"正式推出，这是一款为学校教职工、在校生及校友专属的信用卡。有学校标识的信用卡一方面是校友身份的象征，起到学校联系校友的纽带作用，一方面也是教育基金会拓宽筹资渠道的一种新的尝试！卡片为银联标准的人民币信用卡，分为金卡和普通卡。金卡针对教职员工和校友发行，最高信用额度为5000-10万元人民币；普通卡针对在校学生发行，最高信用额度为1000-5000元人民币。</p>
    　　<p>
    　　独有的卡面设计彰显校友身份的权利，持卡人除享有建行的金融服务和相关优惠外，同时享有校友商户优惠计划的优惠。目前，经过校友会的努力，已有19间商户参加计划，相信随着时间推移和发卡量的增加，加入到"首都师范大学校友龙卡"校友商户优惠计划中的商户会越来越丰富！
            </p>
            <div class="form-box">
                <h2 class="form-row-nolabel">申请校友龙卡</h2>
                <div class="form-row">
                    <label class="label-text">姓名</label>
                    <input id="name" class="input-text" type="password" />
                    <div class="tips-box"></div>
                </div>
                <div class="form-row">
                    <label class="label-text">电子邮箱</label>
                    <input id="email" class="input-text" type="password" />
                    <div class="tips-box"></div>
                </div>
                <div class="form-row">
                    <label class="label-text">手机号</label>
                    <input id="tel" class="input-text" type="password" />
                    <div class="tips-box"></div>
                </div>
                <div class="form-row form-row-nolabel">
                    <input id="card_btn" class="input-btn" type="submit" value="申请龙卡" />
                </div>
            </div>
        </div>
    </div>
</div>

<script id="t:tpl-new-list" type="text/html">
<% if(list.length>0) { %>
<ul>
    <%for(var i=0;i<list.length;i++){%>
    <li>
        <div class="item-pic">
            <a data-id="<%=list[i].id%>" href="#"><img src="<%=list[i].pic%>" /></a>
        </div>
        <div class="item-text">
            <h2><%=list[i].title%></h2>
            <p><%=list[i].time%></p>
            <h5><%=list[i].preview%>...</h5>
            <a class="input-btn" data-id="<%=list[i].id%>" href="javascript:;">查看详情</a>
        </div>
    </li>
    <%}%>
</ul>
<% }else{ %>
    <ul><li><p>暂无数据</p></li></ul>
<% } %>
<p>
    <div class="jogger"><a href="javascript:;" id="a-prev-page" date-page-no="0"> &lt; </a>
    <a href="javascript:;" id="a-next-page" data-page-no="2"> &gt; </a></div>
</p>
</script>

<script id="t:tpl-banner-list" type="text/html">
<% if(list.length>0) { %>
<div class="flexslider">
	<ul class="slides">
		<%for(var i=0;i<list.length;i++){%>
		<li>
			<a data-id="<%=list[i].id%>" href="javascript:;" target="_blank">
				<img src="<%=list[i].pic%>" />
				<h1><%=list[i].title%></h1>
			</a>
		</li>
		<%}%>
	</ul>
</div>
<% }else{ %>
<div class="flexslider">
	<ul class="slides">
		<li>
			<img src="images/banner.jpg"/>
		</li>
	</ul>
</div>
<% } %>
</script>

<script type="text/javascript">
var current_type;
$(function() {
    $('#li-news-1, #li-news-2, #li-news-3').click(function(event) {
        $('.menu-wrap ul li').removeClass('active');
        $(this).attr('class', 'active');
        current_type = $(this).attr('data-id');
        $.cnuAction.mediaList(current_type);
        $.cnuAction.mediaTopList(current_type);
    });
    $.cnuAction.mediaList(1);
    $.cnuAction.mediaTopList(1);
	
	
	$("#lk").click(function(){
		
		$.fancybox($(".lk"))
		
	})
	
	
});
</script>



</body>
</html>
