<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/flexslider.min.css" type="text/css"/>
<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/placeholder.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.cnuaction.js"></script>
<script type="text/javascript" src="js/baiduTemplate.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<link rel="stylesheet" href="css/alumnus.css" type="text/css" />

<title>首都师范大学校友会</title>

</head>

<body>

<div class="wrap">
    <div class="logo-wrap">
    	<img id="logo" src="images/logo.gif" alt="首师大Logo" title="首都师范大学" />
    </div>
    
    
    <div class="nav-wrap base-clear">
    	<ul class="nav">
        	<li><a href="./alumnus.html">校友信息</a></li>
        	<li><a href="./dynamic.html">母校信息</a></li>
        	<li class="active"><a href="personal.html">个人信息</a></li>
        	<li id="sid_admin"><a href="./administration.html">管理</a></li>
        	<li><a href="./setup.html">系统设置</a></li>
        </ul>
        <div class="search-box">
        	<input class="search-text" placeholder="找同学" type="text" />
            <input class="search-btn" type="button"/>
        </div>
    </div>
    
    
    <div class="big-banner">
    	<div id="b_item" class="b-item">
        </div>
    </div>
    
	<div class="m-d-20">
    </div>
    
    <div class="news-wrap base-clear">
    
        <div class="main">
          
        </div>
		
        <div class="newfriends">
        	<div class="newfriends-title">
            	相似度推荐
            </div>
            <div class="newfriends-list">
            	<ul id="similar">
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                	<li>
                    	<div class="newfriends-pic">
                        	<img src="images/tx.gif" />
                        </div>
                    	<div class="newfriends-name">
                        	<h4>风一样的女子</h4>
                            <p>北京市朝阳区</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
	<div class="m-d-20">
    </div>
    
    <div id="myfriends_wrap" class="search-wrap">
    	<h3 class="search-title">我的好友</h3>
        <div class="search-list">
        	<ul class="base-clear">
                <li>
                    <div class="search-pic">
                        <img src="images/tx.gif" />
                    </div>
                    <div class="search-name">
                        <h4>风一样的女子</h4>
                        <p>北京市朝阳区</p>
                    </div>
                </li>
                <li>
                    <div class="search-pic">
                        <img src="images/tx.gif" />
                    </div>
                    <div class="search-name">
                        <h4>风一样的女子</h4>
                        <p>北京市朝阳区</p>
                    </div>
                </li>
                <li>
                    <div class="search-pic">
                        <img src="images/tx.gif" />
                    </div>
                    <div class="search-name">
                        <h4>风一样的女子</h4>
                        <p>北京市朝阳区</p>
                    </div>
                </li>
                <li>
                    <div class="search-pic">
                        <img src="images/tx.gif" />
                    </div>
                    <div class="search-name">
                        <h4>风一样的女子</h4>
                        <p>北京市朝阳区</p>
                    </div>
                </li>
                <li>
                    <div class="search-pic">
                        <img src="images/tx.gif" />
                    </div>
                    <div class="search-name">
                        <h4>风一样的女子</h4>
                        <p>北京市朝阳区</p>
                    </div>
                </li>
                <li>
                    <div class="search-pic">
                        <img src="images/tx.gif" />
                    </div>
                    <div class="search-name">
                        <h4>风一样的女子</h4>
                        <p>北京市朝阳区</p>
                    </div>
                </li>
            </ul>
            <p>
                <div class="jogger"><a href="javascript:;" id="a-prev-page" date-page-no="0"> &lt; </a>
                <a href="javascript:;" id="a-next-page" data-page-no="2"> &gt; </a></div>
            </p>
        </div>
    </div>
    
    
    
</div>

<div class="footer">
<p>
    备案号：京公网安备:110402430068号<br>
    校友会地址：北京市海淀区西三环北路105号首都师范大学学校办公室校友会 邮编：100048   邮箱：cnuxyh@126.com<br>
    联系方式：电话：86-10-68902418、86-10-68902611  传真：86-10-68902418<br>
</p>
</div>




<script id="t:tpl-banner-list" type="text/html">
<% if(list.length>0) { %>
<div class="flexslider">
	<ul class="slides">
		<%for(var i=0;i<list.length;i++){%>
		<li>
			<a data-id="<%=list[i].id%>" href="javascript:;" target="_blank">
				<img src="<%=list[i].pic%>" />
				<h1><%=list[i].title%></h1>
			</a>
		</li>
		<%}%>
	</ul>
</div>
<% }else{ %>
<div class="flexslider">
	<ul class="slides">
		<li>
			<img src="images/banner.jpg"/>
		</li>
	</ul>
</div>
<% } %>
</script>


<script id="t:tpl-history" type="text/html">
<div class="history">
    <div class="history-date">
    <h2 class="first">
        <a class="btn" href="#nogo">我的履历</a>
        <em>
			<% if( b.pic == null) { %>
				<img src="images/icon06.gif" />
			<% }else{ %>
				<img src="<%=b.pic%>" />
			<% } %>
		</em>
        <span>
            <strong><%=b.name%></strong>
			<p></p>
			<% if(c == 'me') { %>
            	<a class="input-btn" href="javascript:;">完善资料</a>
			<% }else{ %>
            	<a class="input-btn" id="<%=c%>" onclick="$.cnuAction.configFriendsFollow(this.id)">关注</a>
			<% } %>
        </span>
     </h2>
     <ul>
	 	<%for(var i=a.length-1;i>=0;i--){%>
		
			<% if(i%2 == 1) { %>
				<li data-id="<%=a[i].id%>" class="blue">
					<h3><%=a[i].stime.substring(5,7)+"月"%><span><%=a[i].stime.substring(0,4)+"年"%></span></h3>
					<dl>
						<dt><%=a[i].org%>
							<span><%=a[i].stime%>至<%=a[i].etime%></span>
						</dt>
					</dl>
				</li>
			<% }else{ %>
				<li data-id="<%=a[i].id%>">
					<h3><%=a[i].stime.substring(5,7)+"月"%><span><%=a[i].stime.substring(0,4)+"年"%></span></h3>
					<dl>
						<dt><%=a[i].org%>
							<span><%=a[i].stime%>至<%=a[i].etime%></span>
						</dt>
					</dl>
				</li>
			<% } %>
			
		<%}%>
      </ul>
    </div>
  </div>
</script>

<script id="t:tpl-friend-list" type="text/html">
<% if(list.length>0) { %>
	<%for(var i=0;i<list.length;i++){%>
		<li data-id="<%=list[i].id%>">
			<div class="newfriends-pic">
				<% if( list[i].pic == null) { %>
					<img src="images/tx.gif" />
				<% }else{ %>
					<img src="<%=list[i].pic%>" />
				<% } %>
			</div>
			<div class="newfriends-name">
				<h4><%=list[i].name%></h4>
				<% if( list[i].org == null) { %>
					<p></p>
				<% }else{ %>
					<p><%=list[i].org%></p>
				<% } %>
			</div>
		</li>
	<%}%>
<% }else{ %>
		<li>
				<h4>暂没有相似度的朋友</h4>
		</li>
<% } %>
</script>

<script type="text/javascript">
$(function() {

    $.cnuAction.mediaTopList(1);
	
	$.cnuAction.timeline('me');
});
</script>
</body>
</html>
